In [1]:
! pip install pyECLAT
! pip install numpy
! pip install pandas
! pip install plotly

Defaulting to user installation because normal site-packages is not writeable
Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: numpy>=1.17.4 in /home/meghal/.local/lib/python3.10/site-packages (from pyECLAT) (1.23.2)
Collecting tqdm>=4.41.1
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 KB 3.3 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /home/meghal/.local/lib/python3.10/site-packages (from pyECLAT) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/meghal/.local/lib/python3.10/site-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->pyECLAT) (1.16.0)
Installing collected packages: tqdm, pyECLAT
Successfully installed pyECLAT-1.0.2 tqdm-4.64.1
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/meghal/.local/lib/python3.10/site-packages (1.23.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/meghal/.local/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: numpy>=1.21.0 in /home/meghal/.local/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/meghal/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Collecting plotly
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 17.9 MB/s eta 0:00:0000:0100:01
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.10.0 tenacity-8.0.1

In [7]:
import pandas as pd
from pyECLAT import ECLAT

In [4]:
# store the item sets as lists of strings in a list
transactions = [
    ['beer', 'wine', 'cheese'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'cheese'],
    ['potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'beer'],
    ['beer', 'potato chips'],
    ['butter', 'eggs'],
    ['beer', 'potato chips'],
    ['flower', 'eggs'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['beer', 'wine', 'potato chips', 'cheese'],
    ['wine', 'cheese'],
    ['beer', 'potato chips'],
    ['wine', 'cheese'],
    ['beer', 'potato chips']
]

In [5]:
# you simply convert the transaction list into a dataframe
data = pd.DataFrame(transactions)
data

               0             1             2       3             4
0           beer          wine        cheese    None          None
1           beer  potato chips          None    None          None
2           eggs        flower        butter  cheese          None
3           eggs        flower        butter    beer  potato chips
4           wine        cheese          None    None          None
5   potato chips          None          None    None          None
6           eggs        flower        butter    wine        cheese
7           eggs        flower        butter    beer  potato chips
8           wine          beer          None    None          None
9           beer  potato chips          None    None          None
10        butter          eggs          None    None          None
11          beer  potato chips          None    None          None
12        flower          eggs          None    None          None
13          beer  potato chips          None    None          None
14          eggs        flower        butter    wine        cheese
15          beer          wine  potato chips  cheese          None
16          wine        cheese          None    None          None
17          beer  potato chips          None    None          None
18          wine        cheese          None    None          None
19          beer  potato chips          None    None          None

In [6]:
# we are looking for itemSETS
# we do not want to have any individual products returned
min_n_products = 2

# we want to set min support to 7
# but we have to express it as a percentage
min_support = 7/len(transactions)

# we have no limit on the size of association rules
# so we set it to the longest transaction
max_length = max([len(x) for x in transactions])

In [9]:
# create an instance of eclat
my_eclat = ECLAT(data=data, verbose=True)

# fit the algorithm
rule_indices, rule_supports = my_eclat.fit(min_support=min_support, min_combination=min_n_products, max_combination=max_length)
print(rule_supports)

100%|██████████| 8/8 [00:00<00:00, 1347.30it/s]
100%|██████████| 8/8 [00:00<00:00, 96698.65it/s]
100%|██████████| 8/8 [00:00<00:00, 4214.85it/s]

Combination 2 by 2

10it [00:00, 475.91it/s]

Combination 3 by 3

10it [00:00, 408.02it/s]

Combination 4 by 4

5it [00:00, 346.11it/s]

Combination 5 by 5

1it [00:00, 244.21it/s]

{'beer & potato chips': 0.45, 'cheese & wine': 0.35}

# Interpretation
The interpretation of this is that within the transactions of our night store, there are two product combinations that are relatively strong. People often buy Wine and Cheese together. People also often buy Potato Chips and Beer together. Clearly, it could be a good idea to put those products together so that people can easily get to both of them.